<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-xl-12 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Kemiskinan (Ringkas) </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-edit text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Pendaftaran </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Kemiskinan (Ringkas)
                            </li>
                        </ol>
                    </nav>
                </div>

                <!-- <div class="col-lg-6 col-5 text-right">
					<a class="btn btn-sm btn-default text-white" (click)="openModal(createUser)">
						Create
					</a>
				</div> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-body border-light shadow-sm">
                <h2 class="h3 mb-0"><strong> Pendaftaran Ringkas </strong></h2>
                <small>Sila masukkan butiran anda untuk diproses oleh Unit Penyelarasan Pelaksanaan, Jabatan Perdana Menteri.</small>
                <br><br>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Nama Ketua Isi Rumah (KIR)</label>
                                <input class="form-control" id="first_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">No. KP Baru/No. KP Lama/No. Passport/No. Surat Beranak KIR</label>
                                <input class="form-control" id="last_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Jumlah Pendapatan Tahunan (isi rumah)(RM)</label>
                                <input class="form-control" id="first_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Bil. Isi Rumah</label>
                                <input class="form-control" id="last_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 mb-3">
                            <div>
                              <label for="exampleFormControlTextarea1"  class="form-label">Alamat Lengkap</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="last_name">Poskod</label>
                                <input class="form-control" id="last_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div>
                              <label class="my-1 mr-2" for="country">Negeri</label>
                              <select class="form-select" id="country" aria-label="Default select example">
                                <option hidden selected>--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                              <label class="my-1 mr-2" for="country">Daerah Pentadbiran</label>
                              <select class="form-select" id="country" aria-label="Default select example">
                                <option hidden selected>--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                              <label class="my-1 mr-2" for="country">Mukim</label>
                              <select class="form-select" id="country" aria-label="Default select example">
                                <option hidden selected>--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Telefon yang Boleh Dihubungi</label>
                                <input class="form-control" id="first_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Nama Pelapor</label>
                                <input class="form-control" id="last_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="exampleFormControlTextarea1"  class="form-label">Alamat Pelapor</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="last_name">No. Telefon Pelapor</label>
                                <input class="form-control" id="last_name" type="text" placeholder=" " required>
                            </div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <div class="mt-3">
                            <button type="submit" class="btn btn-success" (click)="successSwal()">Hantar</button>
                            <button type="reset" class="btn btn-outline-danger">Kosongkan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>